.post-img {
  height: 704px;
  overflow: hidden;
  text-align: center;
}
.post-img img {
  width: 50%;
  padding: 4%;
  height: 700px;
}
.blog-post-content {
  /* background-color: rebeccapurple; */
}
.blog-post-content h1 {
  text-align: center;
}
.blog-post-content p {
  font-size: 18px;
}

.row {
  display: flex;
}
.more-post {
  flex-direction: column;
  align-items: center;
}
.blogpost-meta {
  display: flex;
  justify-content: space-between;
}

.author-info {
  margin: 12px 0;
}
.author-info div {
  padding: 4px 0px;
  font-family: var(--font2);
}
.social {
  padding-right: 53px;
  align-self: center;
  cursor: pointer;
}
