* {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--font1);
}

p {
  font-family: var(--font1);
}

.learn {
  display: flex;
  flex-direction: row;
}

.learnLeft {
  background-color: rgba(247, 241, 241, 0.918);
  margin-left: 50px;
  margin-top: 80px;
  border: 1.5px solid rgb(165, 144, 144);
  padding: 30px;
  padding-right: 60px;
  padding-left: 15px;
  border-radius: 4px;
}

.learnLeft img {
  height: 193px;
  margin-top: 14px;
  margin-left: -10px;
}

.learnRight {
  margin-top: 100px;
  margin-left: 225px;
}

.learnBottom {
  margin-left: 150px;
  margin-top: 100px;
}
.home-webinars {
  margin-top: 80px;
  text-align: center;
}

.home-webinars h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.webinarContent img {
  height: 600px;
}

#img2 {
  margin-top: -58px;
  margin-left: 0px;
}

.cetification img {
  height: 400px;
  margin-bottom: 100px;
}

.joinButton {
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: -20px;
}
.joinButton button {
  padding: 6px 27px;
  background-color: #fd7b30;
  border: none;
  border-radius: 4px;
  font-size: 21px;
  color: white;
  margin-bottom: 19px;
  font-family: var(--font1);
  margin-top: -5px;
  cursor: pointer;
}

.content {
  margin-top: -20px;
}

.webinar-content-right {
  margin-top: 123px;
}

@media only screen and (max-width: 600px) {
  .webinar-content-left h1 {
    margin-top: 60px;
  }
  .webinar-content-left p {
    padding: 0px;
  }
  .joinButton {
    margin-top: 30px;
    margin-left: 32vw;
  }

  .learn {
    flex-direction: column-reverse;
  }

  .learnLeft {
    margin-left: 0;
  }
  .learnLeft img {
    height: 180px;
    margin-top: 14px;
    margin-left: -1px;
  }
  .learnRight {
    margin-left: 0;
    text-align: left;
  }
  .learnBottom {
    margin: 20px;
    margin-left: 5vw;
  }
  .webinarContent img {
    width: 300px;
    height: 200px;
  }
  .cetification img {
    height: 220px;
    margin-bottom: 30px;
  }
  .home-webinars h2 {
    line-height: 30px;
    font-size: 24px;
    padding: 34px;
  }

  #img2 {
    margin-top: -22px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .learnLeft {
    margin-left: 0;
    height: 280px;
    padding: 20px;
  }

  .learnRight {
    margin-left: 69px;
  }

  .learnBottom {
    margin-left: 100px;
  }
  .webinarContent img {
    height: 366px;
  }
  #img2 {
    margin-top: -37px;
    margin-left: 0px;
  }

  .webinar-content-left h1 {
    margin-top: 32px;
  }
}
