/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

@media only screen and (max-width: 600px) {
  .navigation {
    /* background-color: yellow; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-left {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-left ul {
    margin-top: 15px;
  }

  .nav-left span img {
    height: 96px;
    margin-right: 0px;
  }

  .nav-right button {
    margin-top: 13px;
  }

  #firstHr {
    margin-top: 220px;
    margin-bottom: -20px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .content-left h1 {
    padding-top: 0px;
    margin-right: 0px;
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
  }

  .content-left {
    padding: 0;
  }
  .content-left p {
    text-align: center;
    padding: 10px;
  }

  .content-right img {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }

  .home-webinars {
  }

  .home-webinar {
    display: flex;
    flex-direction: column;
  }

  .home-webinar-img {
    text-align: center;
  }
  .home-webinar-img a img {
    width: 100%;
  }

  .home-webinar-content {
    text-align: center;
  }

  .scrollTopStyle {
    background-color: rgb(208 208 202);
    position: fixed;
    right: 15%;
    top: 82%;
    bottom: 11%;
    z-index: 1;
    border-radius: 50px;
  }
  .scrollTopStyle img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    padding: 14px 16px;
    position: relative;
  }

  /* free.html */

  .webinar-content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-left: 0;
    z-index: 1;
    text-align: center;
  }

  .webinar-content-left h1 {
    font-weight: 100;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 23px;
  }

  .webinar-content-left p {
    padding: 10px;
  }
  .webinar-content-left button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fd7b30;
    /* background-color: red; */
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    margin-bottom: 19px;
    margin-top: 19px;
    font-family: var(--font1);
    margin-right: 90px;
    margin-left: 102px;
  }

  .webinar-content-right img {
    width: 300px;
    height: 200px;
    margin: 10px;
    margin-top: 35px;
  }

  .home-articles {
    margin-top: 300px;
    margin-bottom: 100px;
    text-align: center;
    font-family: var(--font1);
  }

  /* #freeFirstHr {
    margin-top: 50px;
    margin-bottom: 50px;
  } */

  .card {
    height: 420px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .content-left {
    padding: 0;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .content-left h1 {
    margin-right: 20%;
    margin-left: 20%;
  }

  .nav-left ul {
    margin: -11px 51px;
  }

  .webinar-content-left {
    padding: 0;
    text-align: center;
  }

  .webinar-content-left button {
    margin-right: 20%;
    margin-left: 20%;
  }

  #freeFirstHr {
    padding-top: 185px;
    padding-bottom: 30px;
  }
}
