/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

@media only screen and (max-width: 600px) {
  .navigation {
    /* background-color: yellow; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-left {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-left ul {
    margin-top: 15px;
  }

  .nav-right {
    /* background-color: green; */
  }

  #firstHr {
    margin-top: 143px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .content-left h1 {
    padding-top: 0px;
    margin-right: 0px;
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
  }

  .content-left {
    padding: 0;
  }
  .content-left p {
    text-align: center;
    padding: 10px;
  }

  .content-right img {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }

  .home-webinars {
  }

  .home-webinar {
    display: flex;
    flex-direction: column;
  }

  .home-webinar-img {
    text-align: center;
  }
  .home-webinar-img a img {
    width: 100%;
  }

  .home-webinar-content {
    text-align: center;
  }

  .scrollTopStyle {
    background-color: rgb(208 208 202);
    position: fixed;
    right: 15%;
    top: 82%;
    bottom: 11%;
    z-index: 1;
    border-radius: 50px;
  }
  .scrollTopStyle img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    padding: 14px 16px;
    position: relative;
  }
}
