* {
  margin: 0;
  padding: 0;
}

.navigation {
  padding-top: 25px;
  font-family: var(--font1);
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}

.nav-left {
  display: flex;
}

.nav-left a {
  text-decoration: none;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}

.nav-left span p {
  color: black;
  text-decoration: none;
  font-size: 29px;
  margin-top: -12px;
}
.nav-left span img {
  border-radius: 220px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: black;
}

.nav-left ul li a:hover {
  color: #fa6f1f;
  font-weight: 600;
}
.nav-right button {
  padding: 6px 27px;
  background: transparent linear-gradient(259deg, #fd8642, #ff7b54) 0 0
    no-repeat padding-box;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  color: white;
  margin-bottom: 19px;
  font-family: var(--font1);
}

.nav-right button:hover {
  background: transparent linear-gradient(259deg, #fd6811, #f76b1a) 0 0
    no-repeat padding-box;
  cursor: pointer;
  color: white;
}
.content {
  height: 100%;
  display: flex;
  margin-top: 52px;
  padding: 9px;
  position: relative;
  border-radius: 15px;
}

.content::after {
  content: "";
  /* background-image: url("../img/11.svg"); */
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
}

.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  padding-left: 0;
  z-index: 1;
}

.content-left h1 {
  color: rgb(255, 255, 255);
  background-color: #fd7b30;
  padding-left: 13px;
  padding-top: 3px;
  margin-right: 325px;
  font-weight: 100;
  margin-bottom: 30px;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 380px;
  border-radius: 5px;
}

.home-webinars {
  padding: 0;
  background-color: rgb(248, 239, 239, 0.5);
  margin-top: 23px;
  position: relative;
  padding-bottom: 10px;
}

.home-webinars h2 {
  text-align: center;
  font-size: 30px;
  font-family: var(--font1);
  font-weight: 400;
}

.year-box {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 234px;
  height: 255px;
  font-size: 18px;
}

.year-box div {
  margin: 12px 0px;
}

.home-webinar {
  display: flex;
  margin: 25px;
}

.home-webinar img {
  width: 400px;
}

.home-webinar-content {
  align-self: center;
  padding: 25px;
}

.home-webinar-content a {
  text-decoration: none;
  color: black;
}

.testimonials {
  margin-bottom: 50px;
  margin-top: 30px;
  background-color: white;
}

.testimonials h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cardsContainer {
  display: flex;
  justify-content: center;
}
.card {
  height: 300px;
  border-radius: 10px;
  width: 500px;
  background-color: rgb(206, 205, 205);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.card span img {
  height: 45px;
  padding: 2px;
  padding-top: 37px;
}

.card p {
  font-family: var(--font1);
  font-size: 17px;
  padding-left: 17px;
}

.name {
  font-weight: 700;
  padding-top: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}

/* .home-webinars{} */
.footer {
  height: 50px;
  background: transparent linear-gradient(259deg, #fd8642, #ff7b54) 0 0
    no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
}

.scrollTopStyle {
  background-color: rgb(208 208 202);
  position: fixed;
  right: 1%;
  bottom: 5%;
  z-index: 1;
  border-radius: 50px;
}
.scrollTopStyle img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: inline-block;
  padding: 14px 16px;
  position: relative;
}
